@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aplicación para realizar pagos, compras y ver estados de cuenta de tu tarjeta de crédito.</p>
</div>
